/******************************************************************************
  Если не работает JS
*******************************************************************************/
.nojs .preloader {
	display: none;
}

.nojs #toTop, .nojs .quickview, .nojs .filters-price #goods-filter-price-slider {
	display: none;
}

.nojs .owl-carousel {
	display: block;
}

.nojs .scriptOff {
	display: none;
}
