/**************************************/
/*** Основные стили шаблона ***/
/**************************************/
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}
body {background-color: #ffffff;color: #656d72;font-family: 'Ubuntu', sans-serif;font-size: .875rem;line-height: 1.3;font-weight: 400;position: relative;overflow-x: hidden;margin: 0;padding: 0;}

/*** Основной контейнер ***/
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container {margin-right: auto;margin-left: auto;padding-left: 1rem;padding-right: 1rem;}
.container:before, .container:after {display: table;line-height: 0;content: '';}
.container:after {display: block;content: '.';clear: both;font-size: 0;line-height: 0;height: 0;overflow: hidden;}
.row {margin-left: -1rem;margin-right: -1rem;}
.row:before, .row:after {content: ' ';display: table;}

/*** Скрол всего сайта ***/
::-webkit-scrollbar {width: 1rem;height: 0;}
::-webkit-scrollbar-thumb {border-radius: 0;background-color: #00acc5;}
::-webkit-scrollbar-track {border-radius: 0;background-color: #dae6ec;}


/**************************************/
/*** Вспомогательные элементы ***/
/**************************************/
a {color: #656d72;text-decoration: none;outline: 0;cursor: pointer;transition: all 0.3s ease;}
a:hover, a.active {color: #00acc5;text-decoration: none;outline: 0;}
img {max-width: 100%;max-height: 100%;width: auto;}
p {margin-bottom: 1rem;line-height: 1.5;}
ol.unstyled, ul.unstyled {margin: 0;padding: 0;list-style: none;}
.required em {color: red;}
.unselectable {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.fadeout, .out {opacity: 0;filter: alpha(opacity=0);}
.fadein, .in {opacity: 1;filter: alpha(opacity=100);}
.tc {color: #00acc5 !important;}
.text-center {text-align: center;}
.flex {display: flex;flex-wrap: wrap;align-items: center;}
.inner {display: flex;flex-wrap: wrap;align-items: flex-start;}
.mask {overflow: hidden;mask-image: linear-gradient(to bottom, black 50%, transparent 90%);}
.noscript {position: relative;text-align: center;background-color: #00acc5;color: #ffffff;padding: 1rem;}
.blockquote {padding: 0 0 0 1rem;margin: 0 0 1.5rem;border-left: .25rem solid #00acc5;}
.DescriptionBlock {margin: 2rem 0 0 0;}
.htmlDataBlock {overflow: hidden;}

/*** Инпут поля ***/
input, select, textarea {height: 3rem;padding: 0 1.5rem;color: #656d72;background-color: #ffffff;border-color: #dae6ec;border-width: 1px;border-style: solid;border-radius: 1.5rem;outline: 0;font-size: 1rem;font-weight: 400;font-family: 'Ubuntu', sans-serif;width: 100%;}
input:focus, select:focus, textarea:focus {border-color: #00acc5;}

/*** Кнопки ***/
.button, button, .paymentFormSubmitLink, .paymentFormTbodySubmitButton {color: #ffffff;background: #00acc5;padding: 0 2rem;line-height: 3rem;border: 0;border-radius: 2rem;text-align: center;font-family: 'Ubuntu', sans-serif;cursor: pointer;display: inline-block;position: relative;transition: all 0.3s ease;}
.button:hover, button:hover, .paymentFormSubmitLink:hover, .paymentFormTbodySubmitButton:hover {color: #ffffff;background-color: #0066a0;}
.button2 {color: #ffffff;background-color: #0066a0;}
.button2:hover {color: #ffffff;background-color: #00acc5;}
.button3 {color: #656d72;background-color: #ffffff;}
.button3:hover {color: #ffffff;background-color: #00acc5;}
.button.empty {color: #656d72;background-color: #eef2f5;}
.button.empty:hover {color: #656d72;background-color: #eef2f5;}

/*** Цены ***/
.price__old {color: #9facb3;text-decoration: line-through;}
.price__now {font-weight: bold;font-size: 1.125rem;}
.num + span {display: none;}
.num:after {content: "руб.";line-height: 1;margin-left: 0.125rem;}

/*** Заголовки ***/
h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility;text-transform: none;line-height: 1.2;margin: 0;padding: 0;font-weight: bold;}
h1 {font-size: 2rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}


/*** Общие блоки ***/
section {margin: 2rem 0;}


/*** Блок Заголовка ***/
.block__title {margin-bottom: 2rem;text-align: center;position: relative;}


/**************************************/
/*** Шапка ***/
/**************************************/
.header__top {padding: 2rem 0;position: relative;}

/* Шапка. Контакты */
header .contacts {width: 27rem;}
header .contacts__block + .contacts__block {margin-left: 2.5rem;}
.contacts__block-icon {font-size: 2.25rem;line-height: 1;}
.contacts__block-content {width: calc(100% - 2.25rem);padding-left: 1rem;flex-direction: column;}
.contacts__block-link {font-weight: bold;max-width: 10rem;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.contacts__block-fancy {color: #a0adb4;margin-top: .25rem;display: block;}
.contacts__block-fancy:hover {color: #004e7c;}

/* Шапка. ЛК, Избр, Срав */
.addto__block {margin-left: 2.5rem;}
.addto__label {font-size: 1.5rem;position: relative;}
.addto__label [data-count] {position: absolute;top: -.75rem;right: -.75rem;font-size: .75rem;display: none;}
.hasItems .addto__label [data-count] {display: block;}

/* Шапка. Логотип */
.logo {width: 15rem;}

/* Шапка. Меню */
.mainnav {width: calc(100% - 15rem - 10rem);padding: 0 1rem;}
.mainnav__list-link {margin: 0 1.5rem;line-height: 2.2;}
.mainnav .mainnav__list {height: 3.75rem;}
.mainnav.opened .mainnav__list {height: auto;}
.mainnav .overflowMenu {display: none;}
.mainnav .overflowMenu.opened {display: flex;}
.mainnav__more i {font-size: .625rem;padding-left: .5rem;}
.mainnav.opened .mainnav__more {display: none;}

/* Шапка. Корзина */
.page-cart .cart {display: none;}
.cart {width: 10rem;}
.cart__block {border-radius: 1.5rem;padding: 1rem;justify-content: center;transition: all 0.3s ease;}
.cart__block-icon {margin-right: .75rem;font-size: 1.125rem;}

/* Шапка. Поиск */
.search {width: calc(100% - 27rem - 12rem - 2.5rem);margin-left: 2.5rem;}
.search__form {position: relative;}
.search__input {height: 3.125rem;padding: 0 5rem 0 2rem;}
.search__submit {padding: 0.0625rem 1rem;background-color: #9facb3;border-color: #9facb3;font-size: 1.125rem;position: absolute;top: 0;right: 0;}
.search__submit:hover, .search__submit:focus, .search__input:focus + .search__submit {background-color: #00acc5;border-color: #00acc5;}
.search__reset {opacity: 0;font-size: .875rem;position: absolute;top: 1rem;right: 4rem;}
.search__filled .search__reset {opacity: 1;}
.search__loading .lds-ring {display: block;}
.lds-ring {display: none;position: absolute;top: 1rem;left: .5rem;width: 1rem;height: 1rem;}
.lds-ring div {border: 2px solid #00acc5;border-color: #00acc5 transparent transparent transparent;width: 1rem;height: 1rem;margin: 0;border-radius: 50%;animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;display: block;position: absolute;}
.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
/** Поисковая выдача **/
#search__result {display: none;width: 100%;max-height: 450px;position: absolute;top: 6rem;right: 0;padding: 1rem;border-radius: 1rem;background: #ffffff;overflow-y: auto;z-index: 3;}
#search__result .inner {flex-direction: column;}
#search__result .result__item {display: none;width: 100%;line-height: 20px;padding: 10px 0;}
#search__result .result__item:nth-child(-n+6) {display: block;}
#search__result .result__item a {font-size: 1rem;display: flex;flex-wrap: wrap;align-items: center;}
#search__result .result__item a.active {color: #00acc5;}
#search__result .result__item .result__image {width: 2.5rem;margin-right: 1.25rem;text-align: center;}
#search__result .result__item .result__name {width: calc(100% - 60px);}
#search__result .result__item img {max-width: 40px;max-height: 40px;}
#search__result .result__goods {width: 100%;flex-grow: 1;padding: 0 1rem;}
#search__result .result__category {width: 100%;flex-grow: 1;padding: 0 1rem 1rem 1rem;margin-bottom: 1rem;border-bottom: 1px solid #d2d9cd;}
#search__result .result__category .result__image {display: none;}
#search__result .result__category .result__name {width: 100%;}
#search__result .result__category a {font-weight: bold;}
#search__result .result__showAll {margin: 1rem auto 0;width: 200px;display: inline-block;}
#search__result::-webkit-scrollbar {width: 0.5rem;height: 0;}


/**************************************/
/*** Подвал ***/
/**************************************/
.footer__top {background-color: #eef2f4;padding: 3rem 0;}
.footer__middle {padding: 3rem 0;}
.footer__bottom {background-color: #eef2f4;padding: 3rem 0;}
/* Подвал. Меню */
footer .mainnav {width: calc(100% - 15rem);padding: 0;}
footer .mainnav__list {justify-content: flex-end;}
/* Подвал. Контакты */
footer .contacts__block {width: 25%;padding: 0 1rem;flex-grow: 1;}
footer .contacts__block-content {padding-left: 2rem;}
footer .contacts__block-link + .contacts__block-link {margin-top: .5rem;}
/* Подвал. Соц Сети */
.social-links a {margin-right: .5rem;border: 2px solid #9facb3;border-radius: 100%;font-size: 1rem;width: 2rem;height: 2rem;line-height: 1.75rem;display: inline-block;text-align: center;}
.social-links a:hover {border-color: #00acc5}
.social-links span {display: none;}
/* Подвал. Копирайт */
.copyright {width: 100%;margin-top: 1rem;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
/* Подвал. Оплата */
.payments i {margin-right: .5rem;border: 2px solid #9facb3;border-radius: 100%;font-size: 1rem;width: 2rem;height: 2rem;line-height: 1.75rem;display: inline-block;text-align: center;}
.payments i:hover {border-color: #00acc5}



/**************************************/
/*** Слайдшоу ***/
/**************************************/
/* TODO увеличить изображение слайдов до 440px
/* TODO какой ховер при наведении на кнопку slider__catalog-icon
/* TODO какой функционал у кнопки slider__catalog-icon
/* TODO В макете есть тени у слайдера, нельзя просто раскидать теней по странице, нужно привязать их к какому то элементу. Какая тень у кнопки Подробнее?
***/
#slideshow {height: 27.5rem;overflow: hidden;}
.slider__item {height: 27.5rem;overflow: hidden;background-repeat: no-repeat;background-size: contain;display: flex;align-items: center;}
.slider__content {width: 55%;margin: 0 0 0 auto;padding: 2rem 2rem 2rem 0;}
.slider__title {font-size: 2rem;font-weight: bold;}
.slider__subtitle {margin-top: 3rem;}
.slider__buttons {margin-top: 3rem;}
.slider__catalog {position: absolute;bottom: 1rem;left: 1rem;}
.slider__catalog-icon {width: 7rem;height: 7rem;font-size: 2rem;color: #ffffff;background-color: #0066a0;border: .375rem solid #ffffff;border-radius: 100%;display: flex;align-items: center;justify-content: center;}
.slider__nav {margin: 0 2rem;}
.slider__nav .owl-dots {margin: 0 1rem;}
.slider__nav .owl-count {margin-left: 2rem;}
.slider__nav .owl-count .count {transform: rotate(-90deg);display: inline-block;}


/**************************************/
/*** Промо ***/
/**************************************/
.promo__item {width: 25%;padding: 0 1rem;align-items: center;}
.promo__icon {font-size: 3rem;}
.promo__text {width: calc(100% - 3rem);padding-left: 2rem;}


/**************************************/
/*** Баннеры ***/
/**************************************/
.banners__item {width: calc(50% - 2rem);margin: 0 1rem;background-repeat: no-repeat;background-size: contain;}
.banners__content {padding: 3rem;}
.banners__title {font-size: 1.5rem;font-weight: bold;display: block;line-height: 2.5rem;}
.banners__title span {display: block;}
.banners__button {margin-top: 2rem;}


/**************************************/
/*** Преимущества ***/
/**************************************/
.advantage__item {width: calc(25% - 2rem);margin: 0 1rem;text-align: center;flex-direction: column;}
.advantage__title {margin-top: 1rem;font-size: 1rem;font-weight: bold;}
.advantage__text {margin-top: 1rem;padding: 0 2rem;}
.advantage__icon {width: 10rem;height: 10rem;border: 1px solid #00acc5;border-radius: 100%;font-size: 4rem;display: flex;align-items: center;justify-content: center;position: relative;}
.advantage__index {position: absolute;top: .25rem;right: .25rem;font-size: 1.25rem;color: #ffffff;background-color: #00acc5;border-radius: 100%;width: 2.5rem;height: 2.5rem;line-height: 2.5rem;}


/**************************************/
/*** Товары на главной ***/
/**************************************/
.pdt__tabs {margin-bottom: 2rem;border: 1px solid #dae6ec;flex-wrap: wrap;}
.pdt__tab {padding: 1rem;text-align: center;flex-grow: 1;border-left: 1px solid #dae6ec;}
.pdt__tab:first-child {border-left: 0;}
.pdt__tab.active, .pdt__tab:hover {background-color: #dae6ec;color: #656d72;}
#pdt [data-content] {display: none;}
#pdt [data-content].active {display: block;}







/**************************************/
/*** Товары ***/
/**************************************/
/*** Избранное, Сравнение, В коризну, Уведомить, Нет в наличии ***/
[class^="add-"]:after {font-family: 'icomoon';line-height: 1;}
.add-compare:hover, .add-favorites:hover, .quickview:hover {color: #00acc5;}
.add-compare.added, .add-favorites.added {color: #00acc5;}
.add-favorites:after {content: '\e909';}
.add-compare:after {content: '\e907';}
.icon-notify:after {content: "\e906";}

/*** Иконки Новинка, Хит, Скидка ***/
.product__ico {position: absolute;top: 1.25rem;left: 1.25rem;display: flex;align-items: center;justify-content: flex-start;z-index: 2;}
.product__ico label {display: none;}
.product__ico span {color: #ffffff;font-size: .75rem;margin: 0 .25rem;padding: .25rem 1rem;border-radius: 1.5rem;text-transform: lowercase;display: flex;align-items: center;justify-content: center;}
.ico__sales {background: #0066a0;}
.ico__sale {background: #0066a0;}
.ico__sale:before {content: 'sale';}
.ico__best {background: #f44d69;}
.ico__best:before {content: 'hit';}
.ico__new {background: #00acc5;}
.ico__new:before {content: 'new';}


/**************************************/
/*** Товары таблицей ***/
/**************************************/
.products__grid {display: flex;flex-wrap: wrap;align-items: stretch;}
.product__item {position: relative;}
.product__item form {padding: 1.25rem;border: 1px solid #dae6ec;transition: all 0.3s ease;}
.product__item:hover form {border-color: #00acc5;}
.product__image {margin-bottom: 1rem;}
.product__img {height: 14.125rem;display: flex;align-items: center;justify-content: center;}
.product__links {position: absolute;top: 1.25rem;right: 1.25rem;}
.product__links a {font-size: 1.5rem;}
.product__links a + a {margin-left: .5rem;}
.product__shop {text-align: center;}
.product__name {margin-bottom: 1rem;height: 3.5rem;overflow: hidden;display: block;}
.product__price {margin-bottom: 1rem;}
.product__price .price__old {margin-right: 1rem;}
.product__addCart i {margin: 0 1rem;font-size: 1rem;vertical-align: middle;}
.product__addCart .label {vertical-align: middle;}
.product__addedInCart {display: none;align-items: center;color: #00acc5;border: 1px solid #00acc5;border-radius: 2rem;padding-right: .5rem;transition: all 0.3s ease;}
.product__addedInCart .button {flex-grow: 1;}
.product__addInCart {width: 100%;}
.inCart .product__addInCart {display: none;}
.inCart .product__addedInCart {display: flex;}
.empty .product__addedInCart {display: flex;border-color: #eef2f5;}
.product__addCart:hover .product__addedInCart {color: #0066a0;border-color: #0066a0;}
.product__addCart:hover .button {color: #ffffff;background-color: #0066a0;}
.product__discount {color: #ffffff;background: #00acc5;text-align: center;padding: .75rem;}


















/**************************************/
/*** Если не работает JS ***/
/**************************************/
.nojs .preloader {display: none;}
.nojs #toTop, .nojs .quickview, .nojs .filters-price #goods-filter-price-slider {display: none;}
.nojs .owl-carousel {display: block;}
.nojs .scriptOff {display: none;}

/**************************************/
/*** Фиксы для IE 11 ***/
/**************************************/
.IE .owl-carousel .animated {animation-duration:0;animation-fill-mode:both}

/**************************************/
/*** Фиксы для Firefox ***/
/**************************************/
.Firefox .inputText {-moz-appearance: textfield;}


/**************************************/
/*** Адаптивность ***/
/**************************************/
.col-fx-12 {width: 100%}
.col-fx-11 {width: 91.66666667%}
.col-fx-10 {width: 83.33333333%}
.col-fx-9 {width: 75%}
.col-fx-8 {width: 66.66666667%}
.col-fx-7 {width: 58.33333333%}
.col-fx-6 {width: 50%}
.col-fx-5 {width: 41.66666667%}
.col-fx-4 {width: 33.33333333%}
.col-fx-3 {width: 25%}
.col-fx-2 {width: 16.66666667%}
.col-fx-1 {width: 8.33333333%}

@media all and (min-width: 480px) {
	.container {min-width: 448px;}
}

@media all and (min-width: 576px) {
	.container {min-width: 544px;}
}

@media all and (min-width: 768px) {
	.container {width: 736px;}
}

@media all and (min-width: 992px) {
	.container {width: 960px;}
}

@media all and (min-width: 1200px) {
	.container {width: 1168px;}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 639.98px) {
}

@media (max-width: 479.98px) {
}

@media (max-width: 374.98px) {
}

/***	Основные цвета шаблона
display: flex;flex-wrap: wrap;align-items: center;
display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
1.25rem = 20px;
1rem = 16px
.875rem = 14px
.75rem = 12px
.625rem = 10px
.125rem = 2px;
*/

.primary-color {background-color: #00acc5;}
.secondary-color {background-color: #9facb3;}
.primary-border-color {border-color: #dae6ec;}
.third-background-color {background-color: #f0f7f5;}
.hover-color:hover {color: #6aa344;}

/*

border-color: #dae6ec;

 */