/**************************************/
/*** Основные стили шаблона ***/
/**************************************/
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}
body {background-color: #ffffff;color: #656d72;font-family: 'Ubuntu', sans-serif;font-size: .875rem;line-height: 1.3;font-weight: 400;position: relative;overflow-x: hidden;margin: 0;padding: 0;}
section {margin: 3rem 0;}
.mainBlock-left {width: 75%;padding-right: 1rem;flex-grow: 1;}
.mainBlock-right {width: 25%;padding-left: 1rem;flex-grow: 1;}
@media (max-width: 991.98px) {
	section {margin: 2rem 0;}
	.mainBlock-left {width: 100%;padding: 0;}
	.mainBlock-right {width: 100%;padding: 2rem 0 0 0;}
}

/*** Основной контейнер ***/
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container {margin-right: auto;margin-left: auto;padding-left: 1rem;padding-right: 1rem;}
.container:before, .container:after {display: table;line-height: 0;content: '';}
.container:after {display: block;content: '.';clear: both;font-size: 0;line-height: 0;height: 0;overflow: hidden;}
.row {margin-left: -1rem;margin-right: -1rem;}
.row:before, .row:after {content: ' ';display: table;}

/*** Скрол всего сайта ***/
::-webkit-scrollbar {width: 1rem;height: 0;}
::-webkit-scrollbar-thumb {border-radius: 0;background-color: #00acc5;}
::-webkit-scrollbar-track {border-radius: 0;background-color: #dae6ec;}


/**************************************/
/*** Вспомогательные элементы ***/
/**************************************/
a {color: #656d72;text-decoration: none;outline: 0;cursor: pointer;transition: all 0.3s ease;}
a:hover, a.active {color: #00acc5;text-decoration: none;outline: 0;}
img {max-width: 100%;max-height: 100%;width: auto;}
p {margin-bottom: 1rem;line-height: 1.5;}
ol.unstyled, ul.unstyled {margin: 0;padding: 0;list-style: none;}
.required em {color: red;}
.unselectable {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.fadeout, .out {opacity: 0;filter: alpha(opacity=0);}
.fadein, .in {opacity: 1;filter: alpha(opacity=100);}
.tc {color: #00acc5 !important;}
.text-center {text-align: center;}
.flex {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;}
.flex-start {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: flex-start;-webkit-align-items: flex-start;-webkit-box-align: flex-start;align-items: flex-start;}
.flex-center {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.justify-between {justify-content: space-between;}
.mask {overflow: hidden;mask-image: linear-gradient(to bottom, black 50%, transparent 90%);}
.noscript {position: relative;text-align: center;background-color: #00acc5;color: #ffffff;padding: 1rem;}
.blockquote {padding: 0 0 0 1rem;margin: 0 0 1.5rem;border-left: .25rem solid #00acc5;}
.DescriptionBlock {margin: 2rem 0 0 0;}
.htmlDataBlock {overflow: hidden;}


/**************************************/
/*** Оверлей. Темный фон ***/
/**************************************/
#overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;opacity: 0;filter: alpha(opacity=0);visibility: hidden;background-color: transparent;-webkit-transition: opacity .25s ease,visibility 0s ease .25s;transition: opacity .25s ease,visibility 0s ease .25s;}
#overlay.transparent {background-color: rgba(0, 0, 0, 0.5);}
#overlay.opened {opacity: 1;filter: alpha(opacity=100);visibility: visible;-webkit-transition: opacity .25s ease,visibility 0s ease;transition: opacity .25s ease,visibility 0s ease;cursor: pointer;}


/**************************************/
/*** Инпут поля ***/
/**************************************/
input, select, textarea {width: 100%;height: 3rem;padding: 0 1.5rem;color: #656d72;background-color: #ffffff;border-color: #dae6ec;border-width: 1px;border-style: solid;border-radius: 1.5rem;outline: 0;font-size: 1rem;font-weight: 400;font-family: 'Ubuntu', sans-serif;cursor: pointer;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input:focus, select:focus, textarea:focus {border-color: #00acc5;}


/**************************************/
/*** Селекты ***/
/**************************************/
.selectBox {position: relative;}
.selectBox:after {content: '\e91d';line-height: 3rem;right: 1rem;position: absolute;font-family: 'icomoon';pointer-events: none;}
.selectBox select {padding-right: 3rem;background-color: #eef2f4;border: 0;border-radius: 0;}
.selectBox:hover {color: #00acc5;}


/**************************************/
/*** Кнопки ***/
/**************************************/
.button, button, .paymentFormSubmitLink, .paymentFormTbodySubmitButton {color: #ffffff;background: #00acc5;padding: 0 2rem;line-height: 3rem;border: 0;border-radius: 2rem;text-align: center;font-family: 'Ubuntu', sans-serif;cursor: pointer;display: inline-block;position: relative;transition: all 0.3s ease;}
.button:hover, button:hover, .paymentFormSubmitLink:hover, .paymentFormTbodySubmitButton:hover {color: #ffffff;background-color: #0066a0;}
.button2 {color: #ffffff;background-color: #0066a0;}
.button2:hover {color: #ffffff;background-color: #00acc5;}
.button3 {color: #656d72;background-color: #ffffff;border: 1px solid #eef2f4;}
.button3:hover {color: #ffffff;background-color: #00acc5;border-color: #00acc5;}
.button4 {color: #656d72;background-color: #eef2f4;}
.button4:hover {color: #ffffff;background-color: #00acc5;}
.button.empty {color: #656d72;background-color: #eef2f5;}
.button.empty:hover {color: #656d72;background-color: #eef2f5;}
.button i {vertical-align: middle;}
.button span + i {margin-left: .5rem;}
.button i + span {margin-left: .5rem;}

/**************************************/
/*** Цены ***/
/**************************************/
.price__old {color: #9facb3;text-decoration: line-through;}
.price__now {font-weight: bold;font-size: 1.125rem;}
.num + span {display: none;}
.num:after {content: "руб.";line-height: 1;margin-left: 0.125rem;}


/**************************************/
/*** Заголовки ***/
/**************************************/
h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility;text-transform: none;line-height: 1.2;margin: 0;padding: 0;font-weight: bold;}
h1 {font-size: 2rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}


/**************************************/
/*** Блок Заголовков ***/
/**************************************/
.block__title {margin-bottom: 2rem;text-align: center;position: relative;}
.nav__tabs {margin-bottom: 2rem;border: 1px solid #dae6ec;flex-wrap: nowrap;}
.nav__tab {padding: 1rem;text-align: center;flex-grow: 1;border-left: 1px solid #dae6ec;}
.nav__tab:first-child {border-left: 0;}
.nav__tab.active, .nav__tab:hover {background-color: #dae6ec;color: #656d72;}
/* Блок Заголовков. Адаптивность */
@media (max-width: 479.98px) {
	.nav__tabs {flex-wrap: wrap;}
	.nav__tab:nth-child(3) {border-left: 0;border-top: 1px solid #dae6ec;width: 100%;}
}


/**************************************/
/*** Обесцвечивание изображений ***/
/**************************************/
.grayscale {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.grayscale:hover {-webkit-filter: grayscale(0);-moz-filter: grayscale(0);-ms-filter: grayscale(0);-o-filter: grayscale(0);filter: grayscale(0);filter: none;}


/**************************************/
/*** Шапка ***/
/**************************************/
.header__top {padding: 2rem 0;position: relative;}
.header__bottom {display: none;}
@media (max-width: 767.98px) {
	.header__top {padding: .75rem 0;margin-bottom: 1rem;background-color: #0066a0;}
	.header__top a {color: #ffffff;}
}

/* Шапка. Контакты */
header .contacts {width: 27rem;height: 3rem;}
header .contacts__block + .contacts__block {margin-left: 2.5rem;}
.contacts__block-icon {font-size: 2.5rem;line-height: 1;}
.contacts__block-content {width: calc(100% - 2.5rem);padding-left: 1rem;flex-direction: column;}
.contacts__block-link {font-weight: bold;max-width: 10rem;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.contacts__block-fancy {color: #a0adb4;margin-top: .5rem;display: block;}
.contacts__block-fancy:hover {color: #004e7c;}
/* Шапка. Контакты. Адаптивность */
@media (max-width: 767.98px) {
	header .contacts {width: 24rem;height: auto;}
	.contacts__block-fancy {margin-top: .25rem;}
	.contacts__block-fancy:hover {color: #ffffff;text-decoration: underline;}
}
@media (max-width: 639.98px) {
	header .contacts__block-icon {font-size: 2rem;}
	header .contacts__block-content {width: calc(100% - 2rem);}
}
@media (max-width: 575.98px) {
	header .contacts {width: 19rem;}
	header .contacts__block + .contacts__block {margin-left: 1rem;}
}
@media (min-width: 480px) and (max-width: 575px) {
	header .contacts__block-icon {display: none;}
	header .contacts__block-content {width: 100%;}
}
@media (max-width: 479.98px) {
	header .contacts {width: 10.5rem;}
	header .contacts__block.email {display: none;}
}

/* Шапка. ЛК, Избр, Срав */
.addto {width: 12rem;}
.addto__block {margin-left: 2.5rem;}
.addto__label {font-size: 1.5rem;position: relative;}
.addto__label [data-count] {position: absolute;top: -.75rem;right: -.75rem;font-size: .75rem;display: none;}
.hasItems .addto__label [data-count] {display: block;}
/* Шапка. ЛК, Избр, Срав. Адаптивность */
@media (max-width: 1199.98px) {
	.addto {width: 10.5rem;}
	.addto__block {margin-left: 2rem;}
}
@media (max-width: 639.98px) {
	.addto {width: 7.5rem;}
	.addto__block {margin-left: 1rem;}
}

/* Шапка. Логотип */
.logo {width: 15rem;}
.logo a {display: block;}
/* Шапка. Логотип. Адаптивность */
@media (max-width: 639.98px) {
	.logo {flex-grow: 1;}
}
@media (max-width: 479.98px) {
	.logo {width: 10rem;}
}

/* Шапка. Меню */
.mainnav {width: calc(100% - 15rem - 10rem);padding: 0 1rem;}
.mainnav__list-link {margin: 0 1.5rem;line-height: 2.2;}
.mainnav .mainnav__list {height: 2rem;overflow: hidden;}
.mainnav.opened .mainnav__list {height: auto;}
.mainnav .overflowMenu {display: none;}
.mainnav .overflowMenu.opened {display: flex;}
.mainnav__more i {font-size: .625rem;padding-left: .5rem;}
.mainnav.opened .mainnav__more {display: none;}
.mainnav__icon {display: none;}
/* Шапка. Меню. Адаптивность */
@media (max-width: 991.98px) {
	.mainnav ul {display: none;}
	.mainnav__icon {display: inline-block;}
	.mainnav {text-align: right;}
}
@media (max-width: 639.98px) {
	.mainnav {width: calc(100% - 15rem - 9rem);}
	.mainnav__icon {padding: 0 1.25rem;}
}
@media (max-width: 575.98px) {
	.mainnav {width: auto;}
	.mainnav__icon {padding: 0;width: 3rem;height: 3rem;}
	.mainnav__icon span {display: none;}
	.mainnav__icon i {margin: 0 !important;font-size: 1.5rem;}
	.mainnav__icon i:before {content: '\e920'}
}

/* Шапка. Корзина */
.page-cart .cart {display: none;}
header .cart {width: 10rem;}
.cart__block {border-radius: 2rem;padding: 1rem;transition: all 0.3s ease;}
.cart__block-icon {margin-right: .75rem;font-size: 1.125rem;line-height: 0;}
.cart__block-empty {display: none;}
.empty .cart__block-empty {display: block;}
/* Шапка. Корзина. Адаптивность */
@media (max-width: 639.98px) {
	header .cart {width: 9rem;}
}
@media (max-width: 575.98px) {
	header .cart {width: 3rem;}
	.cart__block {height: 3rem;}
	.cart__block-icon {margin: 0;}
	.cart__block-content {display: none;}
}

/* Шапка. Поиск */
.search {width: calc(100% - 27rem - 12rem - 2.5rem);margin-left: 2.5rem;}
.search__form {position: relative;}
.search__input {height: 3.125rem;padding: 0 5rem 0 2rem;}
.search__submit {width: 3rem;height: 3rem;line-height: 2.75rem;padding: 0;background-color: #9facb3;border-color: #9facb3;font-size: 1.125rem;position: absolute;top: 1px;right: 0;}
.search__submit:hover, .search__submit:focus, .search__input:focus + .search__submit {background-color: #00acc5;border-color: #00acc5;}
.search__reset {opacity: 0;font-size: .875rem;position: absolute;top: 1rem;right: 4rem;}
.search__filled .search__reset {opacity: 1;}
.search__loading .lds-ring {display: block;}
.search__icon {display: none;position: relative;top: auto;right: auto;}
.lds-ring {display: none;position: absolute;top: 1rem;left: .5rem;width: 1rem;height: 1rem;}
.lds-ring div {border: 2px solid #00acc5;border-color: #00acc5 transparent transparent transparent;width: 1rem;height: 1rem;margin: 0;border-radius: 50%;animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;display: block;position: absolute;}
.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* Шапка. Поиск. Адаптивность */
@media (max-width: 1199.98px) {
.search {width: calc(100% - 27rem - 10.5rem - 1.5rem);margin-left: 1.5rem;}
}
@media (max-width: 991.98px) {
.search {text-align: right;}
.search__form {display: none;}
.search__icon {display: inline-block;}
.search.opened {position: absolute;left: 0;margin: 0;width: calc(100% - 10.5rem);}
.search.opened .search__form {display: block;}
.search.opened .search__icon {display: none;}
}
@media (max-width: 767.98px) {
.header__top .search {display: none;}
.header__bottom {display: block;margin-top: 1rem;}
.search__icon {display: none;}
.search__form {display: block;}
.search {width: 100%;margin: 0;}
}

/** Поисковая выдача **/
#search__result {display: none;width: 100%;max-height: 450px;position: absolute;top: 6rem;right: 0;padding: 1rem;border-radius: 1rem;background: #ffffff;overflow-y: auto;z-index: 3;}
#search__result .flex-start {flex-direction: column;}
#search__result .result__item {display: none;width: 100%;line-height: 20px;padding: 10px 0;}
#search__result .result__item:nth-child(-n+6) {display: block;}
#search__result .result__item a {font-size: 1rem;display: flex;flex-wrap: wrap;align-items: center;}
#search__result .result__item a.active {color: #00acc5;}
#search__result .result__item .result__image {width: 2.5rem;margin-right: 1.25rem;text-align: center;}
#search__result .result__item .result__name {width: calc(100% - 60px);}
#search__result .result__item img {max-width: 40px;max-height: 40px;}
#search__result .result__goods {width: 100%;flex-grow: 1;padding: 0 1rem;}
#search__result .result__category {width: 100%;flex-grow: 1;padding: 0 1rem 1rem 1rem;margin-bottom: 1rem;border-bottom: 1px solid #d2d9cd;}
#search__result .result__category .result__image {display: none;}
#search__result .result__category .result__name {width: 100%;}
#search__result .result__category a {font-weight: bold;}
#search__result .result__showAll {margin: 1rem auto 0;width: 200px;display: inline-block;}
#search__result::-webkit-scrollbar {width: 0.5rem;height: 0;}


/**************************************/
/*** Подвал ***/
/**************************************/
.footer__top {background-color: #eef2f4;padding: 3rem 0;}
.footer__middle {padding: 3rem 0;}
.footer__bottom {background-color: #eef2f4;padding: 3rem 0;}
/* Подвал. Меню */
footer .mainnav {width: calc(100% - 15rem);padding: 0;}
footer .mainnav ul {justify-content: flex-end;}
/* Подвал. Контакты */
footer .contacts__block {width: 25%;padding: 0 1rem;flex-grow: 1;}
footer .contacts__block-content {padding-left: 2rem;}
footer .contacts__block-link {white-space: normal;}
footer .contacts__block-link + .contacts__block-link {margin-top: .5rem;}
/* Подвал. Соц Сети */
.social-links a {margin-right: .5rem;border: 2px solid #9facb3;border-radius: 100%;font-size: 1rem;width: 2rem;height: 2rem;line-height: 1.875rem;display: inline-block;text-align: center;}
.social-links a:hover {border-color: #00acc5}
.social-links span {display: none;}
/* Подвал. Копирайт */
.copyright {width: 100%;margin-top: 2rem;flex-direction: column;}
.copyright div + div {margin-top: .25rem;}
/* Подвал. Оплата */
.payments a:hover {color: #656d72;}
.payments i {margin-right: .5rem;border: 2px solid #9facb3;border-radius: 100%;font-size: 1rem;width: 2rem;height: 2rem;line-height: 1.75rem;display: inline-block;text-align: center;transition: all 0.3s ease;}
.payments i:hover {border-color: #00acc5;color: #00acc5;}
/* Подвал. Адаптивность */
@media (max-width: 991.98px) {
	footer .contacts__block {width: 50%;margin-top: 2rem;}
	footer .contacts__block:nth-child(-n+2) {margin-top: 0;}
}
@media (max-width: 479.98px) {
	footer .contacts__block {width: 100%;}
	footer .contacts__block:nth-child(2) {margin-top: 2rem;}
	footer .contacts__block-link {max-width: 100%;}
}


/**************************************/
/*** Слайдшоу ***/
/**************************************/
/* TODO увеличить изображение слайдов до 440px
/* TODO какой ховер при наведении на кнопку slider__catalog-icon
/* TODO какой функционал у кнопки slider__catalog-icon
/* TODO В макете есть тени у слайдера, нельзя просто раскидать теней по странице, нужно привязать их к какому то элементу. Какая тень у кнопки Подробнее?
***/
#slideshow {height: 27.5rem;overflow: hidden;}
.slider__item {height: 27.5rem;overflow: hidden;background-color: #eef2f5;background-repeat: no-repeat;background-size: cover;display: flex;align-items: center;}
.slider__content {width: 55%;margin: 0 0 0 auto;padding: 2rem 2rem 2rem 0;}
.slider__title {font-size: 2rem;font-weight: bold;line-height: 1.5;}
.slider__subtitle {margin-top: 3rem;}
.slider__buttons {margin-top: 3rem;}
.slider__catalog {position: absolute;bottom: 1rem;left: 1rem;}
.slider__catalog-icon {width: 7rem;height: 7rem;font-size: 2rem;color: #ffffff;background-color: #0066a0;border: .375rem solid #ffffff;border-radius: 100%;}
.slider__nav {margin: 0 2rem;}
.slider__nav .owl-dots {margin: 0 1.5rem;}
.slider__nav .owl-count {margin-left: 2rem;}
.slider__nav .owl-count .count {transform: rotate(-90deg);display: inline-block;}
#slideshow .owl-prev, #slideshow .owl-next {position: relative;top: auto;background-color: transparent;border: 0;color: #656d72;width: auto;height: auto;font-size: 1.25rem;}
#slideshow .owl-prev:hover, #slideshow .owl-next:hover {color: #00acc5;}
#slideshow .owl-prev {left: auto;}
#slideshow .owl-next {right: auto;}
#slideshow .owl-prev:before {content: '\e915';}
#slideshow .owl-next:before {content: '\e900';}
/* Слайдшоу. Адаптивность */
@media (max-width: 1199.98px) {
	#slideshow {height: 23rem;}
	.slider__item {height: 23rem;}
	.slider__title {font-size: 1.5rem;}
	.slider__subtitle {margin-top: 2.5rem;}
	.slider__buttons {margin-top: 2.5rem;}
}
@media (max-width: 991.98px) {
	#slideshow {height: 18rem;}
	.slider__item {height: 18rem;}
	.slider__content {padding-right: 1rem;}
	.slider__title {font-size: 1.25rem;}
	.slider__subtitle {margin-top: 2rem;}
	.slider__buttons {margin-top: 2rem;}
	.slider__nav {margin: 0 0 0 2rem;}
	.slider__nav .owl-dots {margin: 0 .5rem;}
	.slider__nav .owl-dots .owl-dot {margin: 0 .25rem;}
	.slider__nav .owl-count {margin-left: 1rem;}
}
@media (max-width: 767.98px) {
	#slideshow {height: 14rem;}
	.slider__item {height: 14rem;}
	.slider__title {font-size: 1rem;}
	.slider__subtitle {display: none;}
	.slider__buttons {justify-content: flex-end;}
	.slider__button {display: none;}
	.slider__catalog {bottom: 0;left: 0;}
}
@media (max-width: 639.98px) {
	.slider__nav .owl-prev, .slider__nav .owl-next {display: none;}
	.slider__nav .owl-count {display: none;}
	.slider__catalog-icon {width: 5rem;height: 5rem;font-size: 1.5rem;}
	.slider__item {background-position: 20% 0;}
}
@media (max-width: 479.98px) {
	.slider__content {width: 60%;}
}

/**************************************/
/*** Промо ***/
/**************************************/
.promo__item {width: 25%;padding: 0 1rem;align-items: center;}
.promo__icon {font-size: 3rem;}
.promo__text {width: calc(100% - 3rem);padding-left: 2rem;}
@media (max-width: 1199.98px) {
	.promo__icon {font-size: 2rem;}
	.promo__text {width: calc(100% - 2rem);padding-left: 1rem;font-size: 13px;}
}
@media (max-width: 767.98px) {
	.promo__item {width: 50%;}
	.promo__item:nth-child(-n+2) {margin-bottom: 1rem;}
}


/**************************************/
/*** Баннеры ***/
/**************************************/
.banners__item {width: calc(50% - 2rem);margin: 0 1rem;background-color: #eef2f5;background-position: right;background-repeat: no-repeat;background-size: cover;}
.banners__content {padding: 3rem;}
.banners__title {font-size: 1.5rem;font-weight: bold;display: block;line-height: 1.5;}
.banners__title span {display: block;}
.banners__button {margin-top: 2rem;}
@media (max-width: 1199.98px) {
	.banners__content {padding: 3rem 2rem;}
	.banners__title {font-size: 1.25rem;}
}
@media (max-width: 991.98px) {
	.banners__button {display: none;}
}
@media (max-width: 767.98px) {
	.banners__item {height: 10rem;}
	.banners__content {padding: 0 2rem;}
}
@media (max-width: 639.98px) {
	.banners__item {width: 100%;}
	.banners__item + .banners__item {margin-top: 2rem;}
	.banners__content {padding: 1rem 0 1rem 1.5rem;width: 70%;}
	.banners__title span {display: inline;}
}


/**************************************/
/*** Преимущества ***/
/**************************************/
.advantage__item {width: calc(25% - 2rem);margin: 0 1rem;text-align: center;flex-direction: column;}
.advantage__title {margin-top: 1rem;font-size: 1rem;font-weight: bold;white-space: nowrap;}
.advantage__text {margin-top: 1rem;padding: 0 2rem;}
.advantage__icon {width: 10rem;height: 10rem;border: 1px solid #00acc5;border-radius: 100%;font-size: 4rem;position: relative;}
.advantage__index {position: absolute;top: .25rem;right: .25rem;font-size: 1.25rem;color: #ffffff;background-color: #00acc5;border-radius: 100%;width: 2.5rem;height: 2.5rem;line-height: 2.5rem;}
@media (max-width: 1199.98px) {
	.advantage__icon {width: 9rem;height: 9rem;}
	.advantage__text {padding: 0;}
}
@media (max-width: 767.98px) {
	.advantage__item {width: calc(50% - 2rem);}
	.advantage__item:nth-child(-n+2) {margin-bottom: 2rem;}
}
@media (max-width: 479.98px) {
	.advantage__icon {width: 8rem;height: 8rem;font-size: 3rem;}
	.advantage__title {white-space: normal;}
	.advantage__index {top: 0;right: 0;}
}


/**************************************/
/*** Новости ***/
/**************************************/
#news [data-content] {display: none;}
#news [data-content].active {display: block;}
.news__item {text-align: center;}
.news__image {height: 16.25rem;}
.news__date {margin: 1rem 0;color: #00acc5;}
.news__title {margin: 1rem 0;height: 3.5rem;overflow: hidden;}
.news__title span {max-height: 3.5rem;overflow: hidden;display: block;}
@media (max-width: 991.98px) {
	.news__image {height: 13.25rem;}
}
@media (max-width: 767.98px) {
	.news__image {height: 18rem;}
}
@media (max-width: 639.98px) {
	.news__image {height: 13rem;}
}
@media (max-width: 479.98px) {
	.news__image {height: 18rem;}
	.news__title {height: auto;}
}

/**************************************/
/*** Товары на главной ***/
/**************************************/
#pdt [data-content] {display: none;}
#pdt [data-content].active {display: block;}


/**************************************/
/*** Товары ***/
/**************************************/
/*** Избранное, Сравнение, В коризну, Уведомить, Нет в наличии ***/
[class^="add-"]:after {font-family: 'icomoon';line-height: 1;}
.add-compare:hover, .add-favorites:hover, .quickview:hover {color: #00acc5;}
.add-compare.added, .add-favorites.added {color: #00acc5;}
.add-favorites:after {content: '\e909';}
.add-compare:after {content: '\e907';}
.icon-notify:after {content: "\e906";}

/*** Иконки Новинка, Хит, Скидка ***/
.product__ico {color: #ffffff;position: absolute;top: 1.25rem;left: 1.25rem;display: flex;align-items: center;justify-content: flex-start;z-index: 2;}
.product__ico label {display: none;}
.product__ico span {font-size: .75rem;margin: 0;padding: .25rem 1rem;border-radius: 1.5rem;text-transform: lowercase;display: flex;align-items: center;justify-content: center;}
.ico__sales {background: #eef2f4;color: #656d72;}
.ico__sale {background: #0066a0;z-index: 2;}
.ico__sale:before {content: 'sale';}
.ico__best {background: #f44d69;}
.ico__best:before {content: 'hit';}
.ico__new {background: #00acc5;}
.ico__new:before {content: 'new';}
.ico__sale + .ico__sales {margin-left: -1.5rem;padding-left: 2rem;}


/**************************************/
/*** Товары таблицей ***/
/**************************************/
.products__grid {display: flex;flex-wrap: wrap;align-items: stretch;}
.product__item {width: calc(33.333333% - 2rem);margin: 2rem 1rem 0 1rem;position: relative;}
.product__item form {padding: 1.25rem;border: 1px solid #dae6ec;transition: all 0.3s ease;}
.product__item:hover form {border-color: #00acc5;}
.product__image {margin-bottom: 1rem;}
.product__img {height: 13.625rem;}
.product__img img {max-width: 100%;}
.product__links {position: absolute;top: 1.25rem;right: 1.25rem;}
.product__links a {font-size: 1.5rem;}
.product__links a + a {margin-left: .5rem;}
.product__shop {text-align: center;}
.product__name {margin-bottom: 1rem;height: 3.5rem;overflow: hidden;}
.product__name span {max-height: 3.5rem;overflow: hidden;display: block;}
.product__price {margin-bottom: 1rem;}
.product__price .price__old {margin-right: 1rem;}
.product__addCart i {font-size: 1rem;vertical-align: middle;}
.product__addCart .label {vertical-align: middle;}
.product__addedInCart {display: none;align-items: center;color: #00acc5;border: 1px solid #00acc5;border-radius: 2rem;padding-right: .5rem;transition: all 0.3s ease;}
.product__addedInCart .button {flex-grow: 1;padding: 0 1rem;}
.product__addedInCart i {margin: 0 1rem;}
.product__addInCart {width: 100%;padding: 0 1rem;}
.inCart .product__addInCart {display: none;}
.inCart .product__addedInCart {display: flex;}
.empty .product__addedInCart {display: flex;border-color: #eef2f5;}
.product__addCart:hover .product__addedInCart {color: #0066a0;border-color: #0066a0;}
.product__addCart:hover .button {color: #ffffff;background-color: #0066a0;}
.product__discount {color: #ffffff;background: #00acc5;text-align: center;padding: .75rem;}
/* Товары таблицей. Адаптивность */
@media (max-width: 1199.98px) {
	.product__img {height: 15.375rem;}
}
@media (max-width: 991.98px) {
	.product__img {height: 10.75rem;}
	.product__price .price__old {display: block;margin: 0 0 .25rem 0;}
}
@media (max-width: 767.98px) {
	.product__img {height: 14.875rem;}
}
@media (max-width: 639.98px) {
	.product__item form {padding: .75rem;}
	.product__img {height: 10.875rem;}
}
@media (max-width: 479.98px) {
	.product__img {height: 16.5rem;}
	.product__name {height: auto;}
}





/**************************************/
/*** Блок заголовков страниц ***/
/**************************************/
#page__title {margin-bottom: 3rem;padding: 2rem 4rem;background-color: #eef2f4;border-radius: 0 0 0 10rem;position: relative;}
#page__title .slider__catalog {bottom: -2rem;}

/*** Хлебные крошки ***/
#page__title .block__title {text-align: right;margin-bottom: 1rem;}
#page__title .results {display: none;}

/*** Заголовки страниц ***/
#breadcrumbs ul {justify-content: flex-end;}
#breadcrumbs ul li:before {content: "/";margin: 0 1.5rem;}
#breadcrumbs ul li:first-child::before {display: none;}


/**************************************/
/*** Категории ***/
/**************************************/
.products .row {margin-top: -2rem;}
.categories__item {width: calc(25% - 2rem);margin: 2rem 1rem 0 1rem;}
.categories__image {height: 16.25rem;background-color: #f6f6f6;}
.categories__name {padding: 1rem;color: #ffffff;background-color: #0066a0;border-top: 1px solid #ffffff;}
.categories__item:hover .categories__name {color: #ffffff;background-color: #00acc5;}
.categories__name i {border: 2px solid #ffffff;border-radius: 100%;padding: .5rem;margin-right: 1rem;}
.categories__name i + span {width: calc(100% - 3.125rem);}

/**************************************/
/*** Тулбар ***/
/**************************************/
.toolbar {margin-bottom: 2rem;}
.form__toolbar {justify-content: space-between;}
.sort .selectBox:after {line-height: 4rem;}
.sort .selectBox select {height: 4rem;}
.sort .selectBox + .selectBox {margin-left: 2rem;}
.view__icon {margin-left: 2rem;font-size: 1.5rem;width: 4rem;height: 4rem;background-color: #eef2f4;}
.view__icon.active {color: #0066a0;}



/** Каталог
.catalog .catalog__link[data-level="0"] {padding: 1rem;font-size: 16px;}
.catalog .catalog__link {padding: .75rem 1rem;font-size: 14px;}
.addto__catalog .catalog__link {padding: .75rem;display: flex;flex-wrap: nowrap;align-items: center;}
.addto__catalog .catalog__item + .catalog__item {border-top: 1px solid #f8e9e6;}
.addto__catalog .catalog__item .open {margin-left: 0.5rem;vertical-align: middle;width: 1.25rem;height: 1.25rem;line-height: 1.25rem;display: inline-block;text-align: center;}
.addto__catalog .catalog__item .open:before {content: "\e917";font-family: 'icomoon';font-size: 1rem;}
.addto__catalog .catalog__item .open.opened:before {content: "\e915";}
.addto__catalog .catalog__item .sub {padding-left: 1rem;display: none;}
 **/

.sidebar__block {}
.sidebar__title {background-color: #eef2f4;padding: 1rem;text-align: center;font-size: 1rem;}
.sidebar__content {padding: 1rem;border: 1px solid #dae6ec;border-top: 0;}

.catalog__item .sub {padding-left: 1rem;display: none;}
.catalog__item.opened > .sub {display: block;}
.catalog__link {padding: .75rem 0;}
.catalog__link .open:before {content: '\e91e';font-family: 'icomoon';font-size: 1rem;margin-right: .75rem;padding: .25rem;opacity: 0;transition: all 0.3s ease;}
.catalog__item.parent > .catalog__link .open:before {content: '\e91f';opacity: 1;}
.catalog__item.parent > .catalog__link:hover .open:before, .parent.opened > .catalog__link > .open:before {content: '\e91d'}
.catalog__link:hover {color: #0066a0;}
.catalog__link.opened, .catalog__item.opened > .catalog__link {color: #0066a0;font-weight: bold;}
.catalog__link span + span {width: calc(100% - 2.25rem);}








/**************************************/
/*** Если не работает JS ***/
/**************************************/
.nojs .preloader {display: none;}
.nojs #toTop, .nojs .quickview, .nojs .filters-price #goods-filter-price-slider {display: none;}
.nojs .owl-carousel {display: block;}
.nojs .scriptOff {display: none;}


/**************************************/
/*** Фиксы для IE 11 ***/
/**************************************/
.IE .owl-carousel .animated {animation-duration:0;animation-fill-mode:both}


/**************************************/
/*** Фиксы для Firefox ***/
/**************************************/
.Firefox .inputText {-moz-appearance: textfield;}


/**************************************/
/*** Адаптивность ***/
/**************************************/
.col-fx-12 {width: 100%}
.col-fx-11 {width: 91.66666667%}
.col-fx-10 {width: 83.33333333%}
.col-fx-9 {width: 75%}
.col-fx-8 {width: 66.66666667%}
.col-fx-7 {width: 58.33333333%}
.col-fx-6 {width: 50%}
.col-fx-5 {width: 41.66666667%}
.col-fx-4 {width: 33.33333333%}
.col-fx-3 {width: 25%}
.col-fx-2 {width: 16.66666667%}
.col-fx-1 {width: 8.33333333%}

@media all and (min-width: 480px) {
	.container {min-width: 448px;}
}

@media all and (min-width: 576px) {
	.container {min-width: 544px;}
}

@media all and (min-width: 768px) {
	.container {width: 736px;}
}

@media all and (min-width: 992px) {
	.container {width: 960px;}
}

@media all and (min-width: 1200px) {
	.container {width: 1168px;}
}


@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 639.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 479.98px) {
}

@media (max-width: 374.98px) {
}