/*** Страница: Корзина ***/
.pageCart .cart {
	display: none;
}

.pageCart .cart__count {
	display: none;
}

.cartTable.disable .cart__qty:before {
	content: "";
	display: block;
	width: 100%;
	height: 60px;
	z-index: 2;
	position: absolute;
}

.cartTable.disable .cart__qty a,
.cartTable.disable .cart__qty input,
.cartTable.disable .cart__qty .qty {
	background-color: #d2d9cd;
	border-color: #d2d9cd;
}

.cartTable.disable .cart__delete {
	display: none;
}

.cartTable.disable .cart__clear {
	display: none;
}

#makeOrder {
	display: none;
}

.cartTable.disable #makeOrder {
	display: inline-block;
}
