/*** Избранное, Сравнение, В коризну, Уведомить, Нет в наличии ***/
[class^="add-"]:after {
	font-family: 'icomoon';
	line-height: 1;
}

[class^="add-"] span {
	display: none;
}

.add-compare, .add-favorites, .quickview {
	color: #231803;
}

.add-compare:hover, .add-favorites:hover, .quickview:hover {
	color: #36928a;
}

.add-compare.added, .add-favorites.added {
	color: #36928a;
}

.add-favorites:after {
	content: '\e91f';
}

.add-compare:after {
	content: '\e91c';
}

.add-cart:after, .add-mod:after {
	content: "\e919";
}

.add-notify:after {
	content: "\e915";
}


/*** Иконки Новинка, Хит, Скидка ***/
.product__ico {
	position: absolute;
	top: -1.75rem;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.product__ico label {
	display: none;
}

.product__ico span {
	color: #ffffff;
	line-height: 14px;
	font-size: 12px;
	margin: 0 .25rem;
	padding: .25rem 1rem;
	border-radius: 1.5rem;
	text-transform: lowercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ico__sales {
	background: #df5642;
	color: #ffffff;
	display: none !important;
}

.ico__sale {
	background: #ffbb3e;
}

.ico__sale:before {
	content: 'sale';
}

.ico__best {
	background: #db5c77;
}

.ico__best:before {
	content: 'hit';
}

.ico__new {
	background: #6aa344;
}

.ico__new:before {
	content: 'new';
}

/*** Изображения в слайдере ***/
.owl-carousel .product__item {
	width: 100%;
	height: calc(100% - 1.75rem);
	margin: .75rem 0 1rem 0;
	padding: 0;
}


/*** Товары таблицей ***/
.products__grid {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}